{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "activity-info.json",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "**/activity-info.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
